body{
    color:#131f28;
    background-color: #FFFFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2px;
}
header{
   
}
.main_header{
    z-index:1;
    width: 100%;
    height: 150px;
    color:#FFFFFFFF;
    background-color:#131f28 ;
    padding: auto;
    margin: 0px;

}
.second_header{
     
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 150px;
    text-align: center;
    color:#131f28 ;
    background-color:inherit;
}

.sit_name_div{
    margin: 20px 20px;
    width: auto;
    height: 100px;    
    float: left;
    

}
.sit_name_lable{
    font-size: 40px;
    font-weight: 100;
    font-family: monospace;
    margin-top: 30px;

}
.dropbox{
    width: 200px;
    height: auto;
    background-color:#131f28;
    z-index: 1;
    color: aliceblue;
    position: absolute;
    top:20px;
    right: 80px;
    display: none;
    
    
}
.item_box{
    width: 100%;
    height: 40px;
    border-top: 1px solid white;
    text-align: center;
    align-content: center;
   
  
}
.header_minu_continer{
    width: auto;
    height: 100px;
    margin: 20px,20px;
    background: inherit;
    float: left;
 
}
.inline_minu{

    list-style-type: none;
    float: left;
   
}
.menu_item{
    font-size: 18px;
    color:#afb9c5;
    display: inline-block;
    text-transform: uppercase;
    padding: 7px 10px;
    border-radius: 3px solid trnsparent;
}
.menu_item:hover{
    color:aquamarine;
    background-color: darkslategrey;
}

.header_icon{
   
    margin-right: 50px;
    margin-top: 20px;
    float:right;
    display: none;
}

.artical{
    width: auto;
    margin:0px; 
    height: 500px;
    padding: auto;
    background-color:inherit;
}
.content_card{
    width: 400px;
    height: 400px;
    margin-left:20px;
    margin-right: 0px;
    float: left;
    box-shadow:0 3px 6px rgba(0, 0,0,0.2 );
    background-color: aliceblue;
    border-radius: 0px;
}
.content_card:hover{
    background-color:aliceblue;
    box-shadow:0 3px 6px rgba(0, 0,0,0.5 );
}
.footer{
    width: 100%;
    height: 200px;
    background-color:inherit;
    color: #131f28;
    text-align: center ;
    border-top:2px solid #131f28 ;
}
.social_media_box{
    width: 100%;
    height: 100px;
}
@media screen and (min-width:0px) and (max-width:1100px){
   
    .header_minu_continer{
        display: none;
        
    
    }
    .header_icon{
        display: block;
        margin:0px;
        /* margin-top: 30%;
        margin-left: 30%; */
    }
}
@media screen and (min-width:1100px)  and  (max-width:1350px) {
    .content_card{
        width: 300px;
        height: 400px;
       
        border: none;
        margin-left:20px;
        margin-right: 0px;
        float: left;
    }
    .dropbox{
        display: none;

    }
}
@media screen and (min-width:720px)  and  (max-width:1100px) {
    .content_card{
        width: 600px;
        height: 400px;
        border: 2px solid grey;
        border: none;
        float: none;
        margin:20px auto;
        
    }
    .artical{
        height: auto;
        align-content:center ;
    }
    .dropbox{
        display: none;

    }
}
@media screen and (min-width:0px)  and  (max-width:720px) {
    .content_card{
        width: 350px;
        height: 400px;
        border:none;
        margin:5px auto;
        float: none;
        
    }
    .artical{
        height: auto;
        align-content:center ;
    }
}
